.ui-tags{
  justify-content: center;
}

.tag-before-5{
  background: #f7f7f7;
  color: #333;
  padding: 0 5px;
  text-align: center;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 20px;
  border-radius: 30px;
}

.tag-after-5{
  background: #fbfbfb;
  color: #999;
  padding: 0 5px;
  text-align: center;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 20px;
  border-radius: 30px;
  .ui-icon{
    opacity: .6
  }
}

.vertical-marker{
  stroke:#e60012;
  stroke-width:.5
}

#line1 .vertical-marker{
  stroke:#5a626d;
  stroke-width:2
}

