@font-face {
    font-family: "ui-icon";
    src: url('iconfont.ttf?t=1502549776894') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('iconfont.svg?t=1502549776894#ui-icon') format('svg');
    /* iOS 4.1- */
}

.ui-icon {
    font-family: "ui-icon" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-wexin:before {
    content: "\e643";
}

.icon-delete:before {
    content: "\e611";
}

.icon-dict:before {
    content: "\e60c";
}

.icon-close:before {
    content: "\e61c";
}

.icon-more:before {
    content: "\e637";
}

.icon-qrcode2:before {
    content: "\e6a9";
}

.icon-account:before {
    content: "\e6b8";
}

.icon-key-shift:before {
    content: "\e616";
}

.icon-search:before {
    content: "\e600";
}

.icon-share:before {
    content: "\e648";
}

.icon-store:before {
    content: "\e60f";
}

.icon-api:before {
    content: "\e619";
}

.icon-gift:before {
    content: "\e612";
}

.icon-list:before {
    content: "\e64d";
}

.icon-weibo:before {
    content: "\e627";
}

.icon-scan-qrcode:before {
    content: "\e610";
}

.icon-choose:before {
    content: "\e601";
}

.icon-more2:before {
    content: "\e78d";
}

.icon-ring2:before {
    content: "\e63a";
}

.icon-ring:before {
    content: "\e625";
}

.icon-qrcode3:before {
    content: "\e642";
}

.icon-magnifier:before {
    content: "\e651";
}

.icon-arrow-up:before {
    content: "\e602";
}

.icon-arrow-down:before {
    content: "\e603";
}

.icon-arrow-right:before {
    content: "\e604";
}

.icon-arrow-left:before {
    content: "\e605";
}

.icon-like:before {
    content: "\e60b";
}

.icon-forward:before {
    content: "\e6a6";
}

.icon-info:before {
    content: "\e607";
}

.icon-statistics:before {
    content: "\e60d";
}

.icon-liwu:before {
    content: "\e685";
}

.icon-ascend:before {
    content: "\e609";
}

.icon-descend:before {
    content: "\e60a";
}

.icon-voice:before {
    content: "\e687";
}

.icon-location:before {
    content: "\e703";
}

.icon-cancel:before {
    content: "\e606";
}

.icon-building:before {
    content: "\e60e";
}

.icon-mail:before {
    content: "\e67d";
}

.icon-talk:before {
    content: "\e64c";
}

.icon-x:before {
    content: "\e9b3";
}

.icon-phiz:before {
    content: "\e613";
}

.icon-user:before {
    content: "\e61b";
}

.icon-favorite:before {
    content: "\e696";
}

.icon-refresh:before {
    content: "\e6a0";
}

.icon-map:before {
    content: "\e6a2";
}

.icon-account1:before {
    content: "\e6a3";
}

.icon-download:before {
    content: "\e6a5";
}

.icon-error:before {
    content: "\e6b1";
}

.icon-prompt:before {
    content: "\e6b2";
}

.icon-success:before {
    content: "\e6b3";
}

.icon-help:before {
    content: "\e6b6";
}

.icon-plus:before {
    content: "\e6b9";
}

.icon-minus:before {
    content: "\e6ba";
}

.icon-attachment:before {
    content: "\e6bf";
}

.icon-qrcode:before {
    content: "\e6c8";
}

.icon-people:before {
    content: "\e7da";
}

.icon-comment:before {
    content: "\e7e0";
}

.icon-dingding:before {
    content: "\e65a";
}

.icon-photo:before {
    content: "\e61d";
}

.icon-jd-user:before {
    content: "\e622";
}

.icon-jd-cart:before {
    content: "\e626";
}

.icon-jd-home:before {
    content: "\e62b";
}

.icon-jd-category:before {
    content: "\e62c";
}

.icon-jd-dashboard:before {
    content: "\e632";
}

.icon-write:before {
    content: "\e615";
}

.icon-route:before {
    content: "\e74f";
}

.icon-mobile:before {
    content: "\e608";
}

.icon-qn-activity:before {
    content: "\e6de";
}

.icon-qn-activity_fill:before {
    content: "\e6df";
}

.icon-qn-addressbook_fill:before {
    content: "\e6e2";
}

.icon-qn-addressbook:before {
    content: "\e6e3";
}

.icon-qn-camera_fill:before {
    content: "\e6e7";
}

.icon-qn-camera:before {
    content: "\e6e8";
}

.icon-setting:before {
    content: "\e892";
}

.icon-my:before {
    content: "\e8a0";
}

.icon-minus-2:before {
    content: "\e675";
}

.icon-plus2:before {
    content: "\e676";
}

.icon-data:before {
    content: "\e641";
}

.icon-QQ:before {
    content: "\e684";
}

.icon-key-delete:before {
    content: "\e61e";
}

.icon-template:before {
    content: "\e617";
}

.icon-component:before {
    content: "\e618";
}

.icon-talk-copy:before {
    content: "\e8a1";
}

.icon-fastforward:before {
    content: "\e621";
}

.icon-rewind:before {
    content: "\e623";
}

.icon-playmusic:before {
    content: "\e66f";
}

.icon-pausemusic:before {
    content: "\e620";
}

.icon-nextsong:before {
    content: "\e61f";
}

.icon-presong:before {
    content: "\e61a";
}

.icon-playlist:before {
    content: "\e62d";
}

.icon-draft:before {
    content: "\e759";
}

.icon-praiseago:before {
    content: "\e62e";
}

.icon-praiseafter:before {
    content: "\e624";
}

.icon-playdown:before {
    content: "\e629";
}

.icon-preaudio:before {
    content: "\e9b4";
}

.icon-playaudio:before {
    content: "\e628";
}

.icon-pauseaudio:before {
    content: "\e66c";
}

.icon-nextaudio:before {
    content: "\e708";
}

.icon-viewreport:before {
    content: "\e6a4";
}

.icon-flower:before {
    content: "\e62f";
}

.icon-home-data:before {
    content: "\e644";
}

.icon-home-map:before {
    content: "\e631";
}

.icon-home-media:before {
    content: "\e62a";
}

.icon-home-modal:before {
    content: "\e638";
}

.icon-home-graphical:before {
    content: "\e634";
}

.icon-home-text:before {
    content: "\e668";
}

.icon-home-page:before {
    content: "\e635";
}

.icon-home-fixed:before {
    content: "\e674";
}

.icon-home-change:before {
    content: "\e636";
}

.icon-home-form:before {
    content: "\e686";
}

.icon-home-layout:before {
    content: "\e672";
}

.icon-api-access:before {
    content: "\e633";
}

.icon-api-equipment:before {
    content: "\e630";
}

.icon-api-media:before {
    content: "\e63b";
}

.icon-api-data:before {
    content: "\e63d";
}

.icon-api-frame:before {
    content: "\e639";
}

.icon-api-position:before {
    content: "\e63e";
}

.icon-api-network:before {
    content: "\e63c";
}

.icon-api-interface:before {
    content: "\e9bc";
}

.icon-api-event:before {
    content: "\e640";
}

.icon-api-configure:before {
    content: "\e63f";
}

.icon-bell:before {
    content: "\e62f";
}

.icon-api-browser:before {
    content: "\e645";
}

.icon-wangluochaoshi:before {
    content: "\e673";
}

.icon-qingqiuchaoshi:before {
    content: "\e646";
}

.icon-wangluowufalianjie:before {
    content: "\e693";
}

.icon-weixin:before {
    content: "\e654";
}

.icon-zhifubao:before {
    content: "\e647";
}

.icon-one-finger-swipe-lef:before {
    content: "\e730";
}

.icon-one-finger-swipe-rig:before {
    content: "\e735";
}

.icon-left-arrow:before {
    content: "\e649";
}

.icon-fenxiang:before {
    content: "\e69a";
}

.icon-plus3:before {
    content: "\e688";
}

.icon-collect1:before {
    content: "\e64e";
}

.icon-collect2:before {
    content: "\e64b";
}

.icon-share2:before {
    content: "\e770";
}

.icon-bianji:before {
    content: "\e650";
}

.icon-wenti1:before {
    content: "\e652";
}

.icon-slide_down:before {
    content: "\e64a";
}

.icon-slide_up:before {
    content: "\e64f";
}

.icon-home-basic:before {
    content: "\e653";
}

.icon-service:before {
    content: "\e6d1";
}

.icon-review:before {
    content: "\e655";
}

.icon-globe:before {
    content: "\e705";
}

.icon-qzone:before {
    content: "\e6c1";
}

.icon-jiudian:before {
    content: "\e656";
}

.icon-guojijiudian:before {
    content: "\e7f0";
}

.icon-jipiao:before {
    content: "\e6b4";
}

.icon-huochepiaoline:before {
    content: "\e677";
}

.icon-user_img:before {
    content: "\e657";
}

.icon-qq_img:before {
    content: "\e728";
}

.icon-user_portrait:before {
    content: "\e65d";
}

.icon-user_money01:before {
    content: "\e65c";
}

.icon-user_money02:before {
    content: "\e68c";
}

.icon-user_money03:before {
    content: "\e65b";
}

.icon-user_grade:before {
    content: "\e659";
}

.icon-user_market:before {
    content: "\e658";
}

.icon-delete2:before {
    content: "\e65e";
}

.icon-view-password:before {
    content: "\e65f";
}

.icon-taobao:before {
    content: "\e8db";
}

.icon-huo:before {
    content: "\e660";
}

.icon-erji:before {
    content: "\e661";
}

.icon-iconfontjian:before {
    content: "\e670";
}

.icon-jia:before {
    content: "\e6e0";
}

.icon-gongxiangdanche:before {
    content: "\e66e";
}

.icon-shenghuojiaofei:before {
    content: "\e66b";
}

.icon-taopiaopiao:before {
    content: "\e66a";
}

.icon-didichuhang:before {
    content: "\e669";
}

.icon-jizhang:before {
    content: "\e667";
}

.icon-zhimaxinyong:before {
    content: "\e666";
}

.icon-shoujichongzhi:before {
    content: "\e665";
}

.icon-yuebao:before {
    content: "\e7db";
}

.icon-huochepiaoicon01:before {
    content: "\e664";
}

.icon-zhuanzhang:before {
    content: "\e663";
}

.icon-yinxingqiaguanli:before {
    content: "\e662";
}

.icon-switchover:before {
    content: "\e848";
}

.icon-login_01:before {
    content: "\e671";
}

.icon-login_02:before {
    content: "\e67a";
}

.icon-login_03:before {
    content: "\e67b";
}

.icon-login_04:before {
    content: "\e678";
}

.icon-login_05:before {
    content: "\e67c";
}
.icon-img:before {
  content: "\e679";
}

.icon-home-icon-01:before {
  content: "\e680";
}

.icon-home-icon-02:before {
  content: "\e67f";
}

.icon-home-icon-03:before {
  content: "\e6a8";
}

.icon-home-icon-04:before {
  content: "\e6a4";
}

.icon-home-icon-05:before {
  content: "\e689";
}

.icon-home-icon-06:before {
  content: "\e682";
}

.icon-home-icon-07:before {
  content: "\e681";
}

.icon-home-icon-08:before {
  content: "\e67e";
}

.icon-currency01:before {
  content: "\e683";
}

.icon-currency02:before {
  content: "\e68a";
}

.icon-currency03:before {
  content: "\e68b";
}

.icon-duigou1:before {
    content: "\e8be";
}

.icon-duigou:before {
    content: "\e68d";
}

.icon-circle:before {
    content: "\e68e";
}

.icon-ico_nodata:before { 
    content: "\e69d"; 
}

.icon-networkError:before { 
    content: "\e690"; 
}

.icon-networkOffline:before { 
    content: "\e68f"; 
}

.icon-login:before { 
    content: "\e691"; 
}

.icon-tread:before {
  content: "\e9bd";
}

.icon-praise:before {
  content: "\e692";
}


