// stackedArea.less
.stacked-area .area-outline{
  stroke-width: 0.5;
}

.icon-class {
  width: 20px;
  height: 20px;
}
.ui-tags{
  justify-content: center;
}
.tag-before-5{
  .mix-1px(1, 1, 1, 1, #ccc);
  background: #fff;
  color: #f1f1f1;
  padding: 0 5px;
  text-align: center;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 20px;
  &:before{
    border-radius: 25px;
  }
}

.tag-before-5{
  background: #f7f7f7;
  color: #333;
  padding: 0 5px;
  text-align: center;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 20px;
  border-radius: 30px;
}

.tag-after-5{
  background: #fbfbfb;
  color: #999;
  padding: 0 5px;
  text-align: center;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 20px;
  border-radius: 30px;
  .ui-icon{
    opacity: .6
  }
}

.stackedarea1 .vertical-marker{
  stroke:#fc9e08;
  stroke-width:.5
}

.stackedarea2 .vertical-marker{
  stroke:#2a77f7;
  stroke-width:.5
}

.stackedarea3 .vertical-marker{
  stroke:#2a77f7;
  stroke-width:.5
}

.stackedarea4 .vertical-marker{
  stroke:#e60012;
  stroke-width:.5
}

.stackedarea5 .vertical-marker{
  stroke:#e60012;
  stroke-width:.5
}

.tooltip-body{
  font-size:10px;
}
.tooltip-title{
  font-size:10px;
}